body{
    background-color: rgba(112, 128, 144, 0.808);
    box-sizing: border-box;
}
.container{
    height:450px;
    margin: 85px 250px;
}


div.container {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: Robotic-move;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes Robotic-move {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:white; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }


.content-1{
    background-color: rgba(112, 128, 144, 0.027);
    height:450px;
    width: 250px;
}
img{
    height: 450px;
    width: 300px;
    /* opacity: 0.8; */
}
.content-2{
    background-color: rgba(112, 128, 144, 0.808);
    height: 450px;
    margin-left: 300px;
    margin-top: -471px;
    /* width: 200px; */
}
.content-3{
    height: 100px;
    width: 550px;
    background-color: antiquewhite;
}
h1{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-4{
background-color: rgba(112, 128, 144, 0.808);
margin-bottom: -300px;
width: 550px;
height: 290px;
}
p{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
button{
    margin-left: 220px;
    width: 3cm;
    height: 30px;
    background-color: green;
    border-radius: 10px;
    color: #fff;
    font-size: large;
}
button:hover{
    background-color: chocolate;
    color: blue;
    border: 3px solid black;
}
.content-5{
margin-top: 300px;
width: 550px;
height: 35px;
background-color: black;
}
h6{
    color: #fff;
    font-size: larger;
    text-align: center;
}
/* .txt{
    color:rgb(60, 11, 124);
}
#about{
    justify-content: center;
    background-color: aliceblue;
}
#about{
    visibility: hidden;
} */